            <div class="modal-header btn-primary" >
                <button type="button" class="close"  ng-click="cancel()">&times;</button>
                <h4 class="modal-title " >New Job</h4>
            </div>
            <div class="modal-body  no-padding">
                <pre>form = {{job | json}}</pre>
                <pre>validator = {{jobInfoForm | json}}</pre>
                <form  name="jobInfoForm"  class="well form-horizontal no-padding  no-margin custom-form-3" novalidate>
                    <fieldset>
                        <legend class="custom-legend">Job Basic Settings</legend>
                        <div class="form-group custom-group">
                            <label class="control-label col-lg-3 custom-label" >Job Name </label>
                            <div class="col-lg-8">
                                <input ng-model="job.JobName" class="form-control"
                                       name="jobName" type="text" value=""spellcheck="false"
                                       ng-minlength="5" required  />

                            </div>
                        </div>

                        <div class="form-group custom-group">
                            <label class="control-label col-lg-3 custom-label" >Upstream Project </label>
                            <div class="col-lg-8">
                                <select  ng-model="job.UpstreamProject"  class="form-control"  name="upstreamProject" class="form-control" required>
                                    <option  value="">----------------------------Select----------------------------</option>
                                    <option ng-repeat="job in srcJobs" value="{{job.JobName}}">{{job.JobName}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="panel-footer  position-relative"   >
                <div class="row">
                    <div class="col-sm-6">
                        <!-- <a class="btn btn-warning " title="Prev Build"  id=""><i class="fa fa-chevron-left"></i> </a>-->
                    </div><!-- /.col-sm-6 -->
                    <div class="col-sm-6 text-right">
                        <a class="btn btn-danger"  ng-click="cancel()"><i class="fa fa-mail-reply"></i> Return</a>
                        <a class="btn btn-success"  ng-click="ok()"><i class="fa fa-check"></i> OK</a>
                        <input class="hide" type="submit" id="jobFormSubmit">
                    </div><!-- /.col-sm-6 -->
                </div><!-- /.row -->
            </div>  <!--/.panel-footer-->
