<nav>
    <ul>
        <li>
            <a href="javascript:void(0)" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">String Detector</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-folder-open"></i> <span class="menu-item-parent">Download Binaries</span></a>
            <ul>
                <li>
                    <a href="../GSPlatformTools/tool-StringDetector/string_detector.exe" target="_blank">Latest</a>
                </li>
                <li>
                    <a href="../GSPlatformTools/tool-StringDetector/v1.17.0/string_detector.exe" target="_blank">v1.17</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Jobs</span></a>
            <ul>
                <li>
                    <a href="#">Daemon Jobs</a>
                </li>
                <li>
                    <a href="http://mindtouchgs.eng.citrite.net/Process/G11n_Development/I18n_Process/I18n_Tools_Introduction/I18n_Static_Code_Analysis_Tool/String_Detector" target="_blank">User Guide</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<span class="minifyme" ng-click="minifyToggle()" > <i class="fa fa-arrow-circle-left hit"></i> </span>