
<div class="dataTables_paginate paging_bootstrap_two_button" >
    <div class ="pull-right">
        <div class="btn-group "  ng-repeat="page in pages" ng-switch="page.type">
            <button type="button" class="btn btn-success"   ng-switch-when="prev" ng-click="params.page(page.number)"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn btn-success"   ng-switch-when="next" ng-click="params.page(page.number)"><i class="fa fa-chevron-right"></i></button>
        </div>
    </div>
</div>
<div class="dataTables_info pull-right margin-right margin-top" id="dt_basic_info">Showing {{params.total()>0 ? (params.page()-1)*params.count()+1 : 0}} to {{(params.page()-1)*params.count()+params.data.length}} of total {{params.total()}} Jobs</div>