<div class="container-fluid" >
<!-- BEGIN FORM WIZARD -->

<!--  <h4 class="small-title">EXAMPLE WIZARD</h4>-->
<div class="panel with-nav-tabs panel-success" >
<div class="panel-heading">
    <ul class="nav nav-tabs " ng-init="selectedTab='settingTab'">
        <li ng-class="{active: 'settingTab'==selectedTab}"  ><a href="javascript:void(0)" ng-click="selectedTab='settingTab'"><i
                class="fa fa-th-list"></i> Setting</a></li>
        <li ng-class="{active: 'configureTab'==selectedTab}" ><a  href="javascript:void(0)" ng-click="selectedTab='configureTab'"><i
                class="fa fa-gear"></i> Configure</a></li>
        <li ng-class="{active: 'historyTab'==selectedTab}" ><a href="javascript:void(0)" ng-click="selectedTab='historyTab'"><i
                class="fa fa-history"></i> History </a></li>
        <li ng-class="{active: 'reportTab'==selectedTab}" ><a href="javascript:void(0)" ng-click="selectedTab='reportTab'"><i
                class="fa fa-flag"></i> Report </a></li>
    </ul>
</div>

<div  class="collapse in">
    <div class="tab-content">
        <div class="tab-pane custom-panel" ng-class="{true:'active',false:'fade'}[selectedTab=='settingTab']" >
            <div class="panel-body no-padding" >
                <form  class="smart-form " ng-class="{true:'custom-form-edit',false:'custom-form'}[basicEdit]" novalidate="novalidate" ng-init="basicEdit=false">
                    <header>
                        Basic Settings
                        <span class="widget-icon" ng-hide="basicEdit" ng-click="basicEdit=!basicEdit">  <a href="#" title="edit"> <i
                                class="fa fa-edit"></i> </a></span>
                        <span class="widget-icon" ng-show="basicEdit" ng-click="basicEdit=!basicEdit"> <a href="#" title="save"> <i
                                class="fa fa-save"></i> </a></span>
                    </header>

                    <fieldset >
                        <div class="row">
                            <section>
                                <div class="custom-label " title="Job Name">Job Name:</div>
                                <div class="custom-control-1" >
                                    <input  class="form-control no-border " ng-class={'uneditable':basicEdit} name="jobName" value="{{job.Setting.JobName}}"
                                           type="text" spellcheck="false" readonly>
                                </div>
                            </section>
                            <section>
                                <div class="custom-label" title="Timing Setting:">Timing Setting:</div>
                                <div class="custom-control-1" >
                                    <input  class="form-control" ng-class={'no-border':!basicEdit} name="timing" value="{{job.Setting.BuildPeriody}}" type="text"
                                           spellcheck="false" ng-readonly="!basicEdit">
                                </div>
                            </section>
                        </div>
                    </fieldset>
                </form>
                <form  class="smart-form " ng-class="{true:'custom-form-edit',false:'custom-form'}[scmEdit]" novalidate="novalidate" ng-init="scmEdit=false">
                    <header>
                        SCM Settings
                        <span class="widget-icon " ng-hide="scmEdit" ng-click="scmEdit=!scmEdit">  <a href="#" title="edit"> <i class="fa fa-edit"></i>
                        </a></span>
                        <span class="widget-icon " ng-show="scmEdit" ng-click="scmEdit=!scmEdit"> <a href="#" title="save"> <i class="fa fa-save"></i>
                        </a></span>
                    </header>

                    <fieldset >
                        <div class="row" >
                            <div  ng-if="job.Setting.ScmSetting.$type==git">
                                <section>
                                    <div class="custom-label" title="Repository Url:">Repository URL:</div>
                                    <div class="custom-control-1">
                                        <input  class="form-control" ng-class={'no-border':!scmEdit}
                                               name="gitRepositoryUrl" value="{{job.Setting.ScmSetting.RepositoryUrl}}" type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                                <section>
                                    <div class="custom-label" title="Name:">Name:</div>
                                    <div class="custom-control-1" >
                                        <input class="form-control" ng-class={'no-border':!scmEdit}  name="gitName" value="{{job.Setting.ScmSetting.Name}}"
                                               type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                                <section>
                                    <div class="custom-label" title="Branch Specifier:">Branch Specifier:</div>
                                    <div class="custom-control-1">
                                        <input class="form-control" ng-class={'no-border':!scmEdit} name="gitBranch" value="{{job.Setting.ScmSetting.BranchSpecifier}}"
                                               type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                            </div>
                            <div ng-if="job.Setting.ScmSetting.$type==svn">
                                <section>
                                    <div class="custom-label" title="Repository Url:">Repository URL:</div>
                                    <div class="custom-control-1" >
                                        <input class="form-control"  ng-class={'no-border':!scmEdit}
                                               name="svnRepositoryUrl" value="{{job.Setting.ScmSetting.RepositoryUrl}}" type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                                <section>
                                    <div class="custom-label" title="Local Module Directory:">Local Module Directory:</div>
                                    <div class="custom-control-1" >
                                        <input class="form-control" ng-class={'no-border':!scmEdit}
                                               name="svnLocalModuleDir" value="{{job.Setting.ScmSetting.LocalModulDir}}" type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                            </div>
                            <div ng-if="job.Setting.ScmSetting.$type==perforce">
                                <section>
                                    <div class="custom-label" title="P4 Username:">P4 Username:</div>
                                    <div class="custom-control-1">
                                        <input class="form-control" ng-class={'no-border':!scmEdit} name="p4Username" value="{{job.Setting.ScmSetting.UserName}}"
                                               type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                                <section>
                                    <div class="custom-label" title="P4 Password:">P4 Password:</div>
                                    <div class="custom-control-1">
                                        <input class="form-control" ng-class={'no-border':!scmEdit} title="encrypted"
                                               name="p4Password" value="{{job.Setting.ScmSetting.Password}}" type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                                <section>
                                    <div class="custom-label" title="P4 Port(Server):">P4 Port(Server):</div>
                                    <div class="custom-control-1">
                                        <input  class="form-control" ng-class={'no-border':!scmEdit} name="p4Port" value="{{job.Setting.ScmSetting.SCMPort}}"
                                               type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                                <section>
                                    <div class="custom-label" title="P4 Workspace Name:">P4 Workspace Name:</div>
                                    <div class="custom-control-1">
                                        <input  class="form-control" ng-class={'no-border':!scmEdit} name="p4WorkspaceName" value="{{job.Setting.ScmSetting.Workspace}}"
                                                type="text" spellcheck="false" ng-readonly="!scmEdit">
                                    </div>
                                </section>
                                <section>
                                    <div class="custom-label" title="P4 Workspace Viewmap:">P4 Workspace Viewmap:</div>
                                    <div class="custom-control-1">
                                        <textarea class="form-control"ng-class={'no-border':!scmEdit}  name="p4Viewmap"
                                                  spellcheck="false" ng-readonly="!scmEdit">{{job.Setting.ScmSetting.ViewMap}}</textarea>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="tab-pane custom-panel" ng-class="{true:'active',false:'fade'}[selectedTab=='configureTab']">
            <div class="panel-body  no-padding" ng-if="job.Configuration">
                <form  class="smart-form" ng-class="{true:'custom-form-edit',false:'custom-form'}[configEdit]" novalidate="novalidate" ng-init="configEdit=false">
                    <header>
                        Content
                        <span class="widget-icon" ng-hide="configEdit" ng-click="configEdit=!configEdit">  <a href="#" title="edit"> <i
                                class="fa fa-edit"></i> </a></span>
                        <span class="widget-icon" ng-show="configEdit" ng-click="configEdit=!configEdit"> <a href="#"
                                                                                                             title="save"> <i
                                class="fa fa-save"></i> </a></span>
                        <span class="widget-icon" id="upload-project-config-icon--"> <a href="#" title="upload"><i
                                class="fa fa-upload"></i></a> </span>
                    </header>

                    <fieldset>
                        <div class="row">
                            <section >
                                <div class="custom-control-2">
                                    <textarea class="form-control" ng-class={'no-border':!configEdit} spellcheck="false"
                                              ng-readonly="!configEdit">{{job.Configuration.Configuration?job.Configuration.Configuration:'No available data'}}</textarea>
                                    <input type="file" id="project-configuration-file--" style="display: none">
                                </div>

                            </section>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="tab-pane custom-panel" ng-class="{true:'active',false:'fade'}[selectedTab=='historyTab']">
            <div class="panel-body no-padding" ng-if="job.Builds">
                <div class="dataTables_wrapper form-inline" role="grid">
                    <table ng-table="historyTableParams" template-no-match="views/partials/filterNoMatch.html" class="table dataTable table-striped  table-hover table-bordered table-noborder">
                        <tr  ng-repeat="build in $data">
                            <td data-title="'Display Name'">
                                <a href="javascript:void(0)" data-build-number="{{build.Number}}}" data-job-name="{{job.JobName}}}">{{build.FullDisplayName.replace(job.JobName,'Build')}}</a>
                            </td>
                            <td data-title="'Build Time'"> {{build.Id.split('_')[0].concat(" ").concat(build.Id.split('_')[1].split('-').join(":"))}}</td>
                            <td data-title="'Duration'">{{build.Duration+"s"}}</td>
                            <td data-title="'Result'">{{build.Result}}</td>
                        </tr>
                    </table>
            </div>

                <form id="buildViewBody" class="smart-form custom-form" style="display: none" novalidate="novalidate">
                    <header>
                        <span id="buildViewInfo"> Content</span>
                        <span class="widget-icon" id="download-build-report-icon" data-build-number=""> <a
                                href="javascript:void(0)" title="download"><i class="fa fa-download"></i></a> </span>
                        <span class="widget-icon " id="popout-build-report-icon" data-build-number=""> <a
                                href="javascript:void(0)" title="popout"> <i class="fa fa-external-link"></i> </a></span>
                    </header>

                    <fieldset style="display: block;">
                        <div class="row">
                            <section class="">

                                <div class="custom-control-2 ">
                                    <textarea id="buildView" data-build-number="" class="form-control no-border"
                                              spellcheck="false" readonly></textarea>
                                </div>

                            </section>
                        </div>
                    </fieldset>
                </form>

            </div>
            <!-- /.panel-body -->
            <div class="panel-footer" style="display: none" id="buildViewFooter">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-warning " title="Prev Build" id="viewPreBuild"><i class="fa fa-chevron-left"></i> </a>
                        <a class="btn btn-warning " title="Next Build" id="viewNextBuild"><i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                    <!-- /.col-sm-6 -->
                    <div class="col-sm-6 text-right">
                        <a class="btn btn-warning" id="returnBuildList"><i class="fa fa-mail-reply"></i> Return</a>
                    </div>
                    <!-- /.col-sm-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!--/.panel-footer-->
        </div>
        <div class="tab-pane  custom-panel" ng-class="{true:'active',false:'fade'}[selectedTab=='reportTab']">
            <div class="panel-body  no-padding" ng-if="job.Report">
                <form id="project-report-form--" class="smart-form custom-form" novalidate="novalidate">
                    <header>
                        <span>Last Build</span>
                        <span class="widget-icon" id="download-project-report-icon--"> <a href="javascript:void(0)"
                                                                                          title="download"><i
                                class="fa fa-download"></i></a> </span>
                        <span class="widget-icon " id="popout-project-report-icon--"> <a href="javascript:void(0)"
                                                                                         title="popout"> <i
                                class="fa fa-external-link"></i> </a></span>
                    </header>

                    <fieldset>
                        <div class="row" >
                            <section>
                                <div class="custom-control-2 ">
                                    <textarea class="form-control no-border" spellcheck="false"
                                              readonly>{{job.Report.Report?job.Report.Report:'No available data'}}</textarea>
                                </div>

                            </section>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
<!-- /.tab-content -->
</div>
<!-- /.collapse in -->
</div>
<!-- /.panel .panel-success -->
<!-- END FORM WIZARD -->
</div><!-- /.container-fluid -->